* {
  padding: 0;
  margin: 0;
}
p {
  margin: 10px 0 0;
  color: #111;
}
hr {
  margin: 20px 0;
}
[id*="demo"] {
  color: #eee;
}
.left {
  height: 100px;
  background: darkred;
}
.right {
  height: 110px;
  margin: 10px 0 0;
  text-align: right;
  background: darkblue;
}
#demo1 {
  overflow: hidden;
}
#demo1 .left {
  float: left;
  width: 200px;
}
#demo1 .right {
  overflow: hidden;
}
#demo2 {
  overflow: hidden;
  margin: 10px 0 0;
}
#demo2 .left {
  overflow: hidden;
}
#demo2 .right {
  float: right;
  width: 200px;
}
#demo3 {
  overflow: hidden;
  margin: 10px 0 0;
}
#demo3 .left {
  float: left;
  width: 200px;
}
#demo3 .right {
  margin-left: 200px;
}
#demo4 {
  position: relative;
  margin: 10px 0 0;
}
#demo4 .left {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
}
#demo4 .right {
  margin-left: 200px;
}
#demo5 .left {
  float: left;
  max-width: 50%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#demo5 .right {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#demo6 {
  display: inline-block;
  max-width: 80%;
}
#demo6 .left {
  float: left;
  max-width: 300px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#demo6 .right {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#demo7 {
  display: inline-block;
  max-width: 50%;
}
#demo7 .left {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#demo7 .right {
  float: right;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
