body {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
#demo1 {
  position: relative;
  height: 300px;
  overflow: hidden;
}
#demo1 .list {
  width: 300px;
  border: 1px solid #ccc;
  margin: 50px;
  overflow: hidden;
}
#demo1 .list li {
  padding: 5px 12px;
  border-bottom: 1px dashed #ccc;
}
#demo1 .bar {
  position: absolute;
  top: 0;
  right: 30px;
  height: 200px;
  width: 5px;
  background: #f5e8e8;
}
#demo1 .slider {
  position: absolute;
  top: 0;
  right: 20px;
  width: 5px;
  border-radius: 5px;
  background: #9e0101;
}
