body {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
#demo1 {
  height: 300px;
  overflow: hidden;
}
#demo1 .list {
  width: 300px;
  border: 1px solid #ccc;
  margin: 50px;
  overflow: hidden;
}
#demo1 .list li {
  padding: 5px 12px;
  border-bottom: 1px dashed #ccc;
}
#demo1 .bar-slider {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
}
#demo1 .bar-slider .bar {
  position: absolute;
  top: 0;
  left: 39px;
  height: 200px;
  width: 10px;
  border-radius: 5px;
  background: #ddf5ff;
}
#demo1 .bar-slider .slider {
  position: absolute;
  top: 0;
  left: 353px;
  width: 8px;
  border-radius: 5px;
  background: #68fde9;
}
